---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Карьера" description="Вакансии XTIR.">
<main class="pt-24">
    <section class="section">
      <div class="section-container">
        <div class="max-w-4xl">
          <h1 class="h1-xtir">Карьера</h1>
          <div class="prose prose-invert max-w-none mt-8">
            <p>Сейчас раздел в разработке. Можно прислать резюме и портфолио на <a class="link" href="/contact">info@xtir.ru</a>.</p>
          </div>
        </div>
      </div>
    </section>
  </main>
</BaseLayout>
